In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('datasets/breast-cancer-wisconsin.csv',delimiter=';',header=None)

In [4]:
data.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [5]:
data.shape

(699, 11)

In [6]:
X = data.iloc[:,1:10].values
y = data.iloc[:,10].values

### Perceptron

### Adaline GD

### Adaline SGD