In [44]:
import numpy as np
import pandas as pd

from sklearn import model_selection
from sklearn import preprocessing

### Questão 01

#### item A)

In [180]:
# Carregamento do csv
df = pd.read_csv('/home/viviane/Documentos/datasets/womens-ecommerce-clothing-reviews/Womens Clothing E-Commerce Reviews.csv',index_col='Unnamed: 0',usecols=['Unnamed: 0','Review Text','Rating'])

In [181]:
# Uma amostra dos dados
df.head(5)

                                         Review Text  Rating
0  Absolutely wonderful - silky and sexy and comf...       4
1  Love this dress!  it's sooo pretty.  i happene...       5
2  I had such high hopes for this dress and reall...       3
3  I love, love, love this jumpsuit. it's fun, fl...       5
4  This shirt is very flattering to all due to th...       5

In [182]:
# Dimensões do dataset
df.shape

(23486, 2)

In [183]:
# Quantidade de textos
df['Review Text'].shape

(23486,)

In [185]:
# Quantidade de classes existentes no problema
df['Rating'].unique().shape

(5,)

In [187]:
# Classes existentes no problema
df['Rating'].unique()

array([4, 5, 3, 2, 1])

In [188]:
df.isnull().sum()

Review Text    845
Rating           0
dtype: int64

In [189]:
df = df.dropna(how='any',axis=0)

In [190]:
df.isnull().sum()

Review Text    0
Rating         0
dtype: int64

In [192]:
X = df['Review Text']
y = df['Rating']

In [193]:
X[100]

"At first i wasn't sure about it. the neckline is much lower and wavy than i thought. but after wearing it, it really is comfortable. it stretches a lot, so i wear a cami underneath so when i lean forward i'm not showing the world my torso."

In [194]:
y[100]

4

In [195]:
X.shape

(22641,)

In [196]:
y.shape

(22641,)

#### Item B)

In [197]:
X, X_test, y, y_test = model_selection.train_test_split(X,y,test_size=0.1,random_state=42,stratify=y)